<h1>Cadastrar Novo Pacote</h1>
<form action="/cadastro" method="POST">
  <label for="remetente">Remetente:</label><br />
  <input type="text" id="remetente" name="remetente" /><br />
  <label for="destinatario">Destinatário:</label><br />
  <input type="text" id="destinatario" name="destinatario" /><br />
  <label for="endereco">Endereço:</label><br />
  <input type="text" id="endereco" name="endereco" /><br /><br />
  <input type="submit" value="Cadastrar" />
</form>