<ul>
  {{#each pacotes}}
    <li class="card">
      <a href="/pacotes/{{id}}">
        <p><strong>Remetente:</strong> {{remetente}}</p>
        <p><strong>Destinatário:</strong> {{destinatario}}</p>
        <p><strong>Endereço de entrega:</strong> {{endereco}}</p>
      </a>
    </li>
  {{/each}}
</ul>